{% extends 'base.html.twig' %}

{% block title %}Hello TaskController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h2>Hello {{ controller_name }}! ✅</h2>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/jorge/Documents/Personal/LearningPHP/SymfonyProject/src/Controller/TaskController.php'|file_link(0) }}">src/Controller/TaskController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/jorge/Documents/Personal/LearningPHP/SymfonyProject/templates/task/register.html.twig'|file_link(0) }}">templates/task/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
