{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h2>User login</h2>
        {% if error %}
            <div class="error">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        {% if app.user %}
            {{ dump(app.user) }}
        {% endif %}

        <form action="{{ path('user.login') }}" method="POST">
            <div>
                <label for="username">Email:</label>
                <input type="email" id="username" name="_username" value="{{ lastUsername }}"/>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="_password"/>
            </div>

            <input type="submit" value="Login"/>
        </form>
    </div>
{% endblock %}
